<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "uk.co.capapp"
        version   = "1.0.1">
    <name>CAPapp</name>

    <description>
        A step-by-step guide to the management of Community Acquired Pneumonia.
    </description>

    <author href="http://capapp.co.uk" email="contact@capapp.co.uk">
        Dr Grace McMacken
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="2.9.0" />
    <!--<preference name="orientation"      value="default" />-->
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />

    <preference name="permissions" value="none"/>

    <icon src="icon.png" />
    <icon src="assets/www/res/icons/ios/icon-72.png"    gap:platform="ios"        width="72" height="72" />
    <icon src="assets/www/res/icons/ios/icon-72-2x.png" gap:platform="ios"        width="144" height="144" />
    <icon src="assets/www/res/icons/ios/icon-57.png"    gap:platform="ios"        width="57" height="57" />
    <icon src="assets/www/res/icons/ios/icon-57-2x.png" gap:platform="ios"        width="114" height="114" />

    <icon src="assets/www/res/icons/bb/icon-69.png"     gap:platform="blackberry" />
    <icon src="assets/www/res/icons/bb/icon-69.png"     gap:platform="blackberry" gap:state="hover"/>

    <!--
        should add these icons in some point
    <icon src="res/icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png"  gap:platform="android"    gap:density="xhdpi" />
    <icon src="res/icon/webos/icon-64.png"          gap:platform="webos" />
    <icon src="res/icon/windows-phone/icon-48.png"  gap:platform="winphone" />
    <icon src="res/icon/windows-phone/icon-173.png" gap:platform="winphone"   gap:role="background" />
    -->

    <!-- splash screens -->
    <gap:splash src="assets/www/res/screen/android/screen-ldpi-portrait.png"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="assets/www/res/screen/android/screen-mdpi-portrait.png"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="assets/www/res/screen/android/screen-hdpi-portrait.png"  gap:platform="android" gap:density="hdpi" />
    <gap:splash src="assets/www/res/screen/android/screen-xhdpi-portrait.png" gap:platform="android" gap:density="xhdpi" />
    <gap:splash src="assets/www/res/screen/blackberry/screen-225.png"         gap:platform="blackberry" />
    <gap:splash src="assets/www/res/screen/ios/screen-iphone-portrait.png"    gap:platform="ios"     width="320" height="480" />
    <gap:splash src="assets/www/res/screen/ios/screen-iphone-portrait-2x.png" gap:platform="ios"     width="640" height="960" />
    <gap:splash src="assets/www/res/screen/ios/screen-ipad-portrait.png"      gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="assets/www/res/screen/ios/screen-ipad-landscape.png"     gap:platform="ios"     width="1024" height="768" />
    <gap:splash src="assets/www/res/screen/windows-phone/screen-portrait.jpg" gap:platform="winphone" />
</widget>
